/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

main>.container {
  padding: 25px 15px 0;
  font-family: 'Montserrat', sans-serif;
}

a,
.nav-link,
.text-body-emphasis {
  color: #003366 !important;
}

a {
  text-decoration: none !important;
  font-weight: bold;
}

a:hover,
.nav-link:hover {
  color: #001a33 !important;
}