<h2 class="text-body-emphasis mt-4">mercado agro em tempo real.</h2>
<p class="fs-5 col-md-12">
    Com ajuda da <b>Inteligência Artificial</b>, tenha em mãos a tendência das commodities e estratégias de
    comercialização da sua safra.
</p>
<hr />
<div class="row g-5">
    <div class="col-md-6">
        <img src="img/logo.jpg" alt="Mercado em tempo real" class="img-fluid rounded w-100">
    </div>
    <div class="col-md-6">
        <div class="col-md-12">
            <h2 class="text-body-emphasis mb-0">Soja</h2>
            <p>
                Obtenha cotações atualizadas do Soja (CBOT/B3), Diferencial de Base (Mato Grosso) e
                estratégia de comercialização da safra.
            </p>
            <a href="#!soybean"> <i class="fas fa-tv fa-lg"></i>&nbsp; MONITORAMENTO DO SOJA</a>
        </div>
        <hr />
        <div class="col-md-12">
            <h2 class="text-body-emphasis mb-0">Milho</h2>
            <p>
                Obtenha cotações atualizadas do Milho (B3), Diferencial de Base (Mato Grosso) e estratégia
                de comercialização da safra.
            </p>
            <a href="#!corn"> <i class="fas fa-tv fa-lg"></i>&nbsp; MONITORAMENTO DO MILHO</a>
        </div>
        <hr />
        <div class="col-md-12">
            <h2 class="text-body-emphasis mb-0">Boi Gordo</h2>
            <p>
                Obtenha cotações atualizadas do Boi Gordo (B3), Diferencial de Base (Mato Grosso) e
                estratégia de comercialização da safra.
            </p>
            <a href="#!cattle"> <i class="fas fa-tv fa-lg"></i>&nbsp; MONITORAMENTO DO BOI GORDO</a>
        </div>
        <hr />
        <div class="col-md-12">
            <div class="d-flex align-items-center justify-content-between">
                <h2 class="text-body-emphasis mb-0">Notificações</h2>
                <small class="badge bg-success text-white">🌟 premium</small>
            </div>
            <p>
                Receba notificações via WhatsApp ou Email sobre os resumos e estratégias de comercialização
                indicadas pela I.A. para cada commodity de acordo com dados personalizados.
            </p>
            <a href="#!notify"> <i class="fas fa-paper-plane fa-lg"></i>&nbsp; CADASTRAR NOTIFICAÇÃO</a>
        </div>
        <hr />
        <div class="col-md-12">
            <h2 class="text-body-emphasis mb-0">Sobre</h2>
            <p>
                A <b>AgrI.CALL</b> é uma plataforma que utiliza Inteligência Artificial para fornecer
                análises de mercado em tempo real, ajudando produtores rurais a tomar decisões sobre a
                comercialização de suas safras.
            </p>
        </div>
    </div>
</div>