<div class="row">
    <div class="col-md-12">
        <div class="col-md-12 bg-body-secondary rounded-3 py-4 px-4 mb-2 mt-2">
            <h2 class="text-body-emphasis mt-4"><i class="fas fa-square-poll-vertical fa-lg"></i>&nbsp; mercado agro em
                tempo real.</h2>
            <hr />
            <p class="fs-5 col-md-12">
                Com ajuda da <b>Inteligência Artificial</b>, tenha em mãos a tendência das commodities e estratégias
                de
                comercialização da sua safra.
            </p>
        </div>
    </div>
</div>
<!--  -->
<div class="row">
    <div class="col-md-6">
        <div class="col-md-12 bg-body-secondary rounded-3 mb-2">
            <img src="img/logo.jpg" alt="Mercado em tempo real" class="img-fluid rounded w-100">
        </div>
    </div>
    <div class="col-md-6">
        <div class="col-md-12 bg-body-secondary rounded-3 py-4 px-4 mb-2">
            <h2 class="text-body-emphasis mb-0"><i class="fas fa-leaf fa-lg"></i>&nbsp;Soja</h2>
            <hr />
            <p>
                Obtenha cotações atualizadas do Soja (CBOT/B3), Diferencial de Base (Mato Grosso) e
                estratégia de comercialização da safra.
            </p>
            <a href="#!soybean"> <i class="fas fa-tv fa-lg"></i>&nbsp; MONITORAMENTO DO SOJA</a>
        </div>

        <div class="col-md-12 bg-body-secondary rounded-3 py-4 px-4 mb-2">
            <h2 class="text-body-emphasis mb-0"><i class="fas fa-seedling fa-lg"></i>Milho</h2>
            <hr />
            <p>
                Obtenha cotações atualizadas do Milho (B3), Diferencial de Base (Mato Grosso) e estratégia
                de comercialização da safra.
            </p>
            <a href="#!corn"> <i class="fas fa-tv fa-lg"></i>&nbsp; MONITORAMENTO DO MILHO</a>
        </div>

        <div class="col-md-12 bg-body-secondary rounded-3 py-4 px-4 mb-2">
            <h2 class="text-body-emphasis mb-0"><i class="fas fa-cow fa-lg"></i>&nbsp; Boi Gordo</h2>
            <hr />
            <p>
                Obtenha cotações atualizadas do Boi Gordo (B3), Diferencial de Base (Mato Grosso) e
                estratégia de comercialização da safra.
            </p>
            <a href="#!cattle"> <i class="fas fa-tv fa-lg"></i>&nbsp; MONITORAMENTO DO BOI GORDO</a>
        </div>
    </div>
</div>
