<div mg-controller="SoybeanController">
    <!-- BEGIN -->
    <div class="row">
        <div class="col-md-12">
            <div class="bg-body-secondary rounded-3 mb-2 mt-2">
                <div class="container-fluid py-4">
                    <h1 class="text-body-emphasis mt-4"><i class="fas fa-leaf fa-lg"></i>&nbsp; Soja</h1>
                    <hr />
                    <p class="fs-5 col-md-12">{{today}}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- -->
    <div class="row">
        <div class="col-md-4">
            <div class="bg-body-secondary rounded-3 py-4 px-4 mb-2">
                <h2>$24.91/R$131.77</h2>
                <div class="d-flex align-items-center justify-content-between">
                    <span class="mb-0">SOJA</span>
                    <small class="badge bg-primary text-white">B3</small>
                </div>
                <hr />
                <p>VARIAÇÃO</p>
                <p>TREND</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="bg-body-secondary rounded-3 py-4 px-4 mb-2">
                <h2>R$131.77</h2>
                <div class="d-flex align-items-center justify-content-between">
                    <span class="mb-0">SOJA</span>
                    <small class="badge bg-success text-white">MATO GROSSO</small>
                </div>
                <hr />
                <p>VARIAÇÃO</p>
                <p>DIFERENÇA</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="bg-body-secondary rounded-3 py-4 px-4 mb-2">
                <h2>R$131.77</h2>
                <div class="d-flex align-items-center justify-content-between">
                    <span class="mb-0">DÓLAR</span>
                    <small class="badge bg-primary text-white">B3</small>
                </div>
                <hr />
                <p>VARIAÇÃO</p>
                <p>TREND</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="bg-body-secondary rounded-3 py-4 px-4 mb-2">
                <h2>NOVEMBRO</h2>
                <p>SAZONALIDADE</p>
                <hr />
                <p>PLANTIO - OFERTA BAIXA - PREÇOS TENDEM A SUBIR</p>
            </div>
        </div>
        <div class="col-md-8">
            <div class="bg-body-secondary rounded-3 py-4 px-4 mb-2">
                <h2>HISTÓRICO DE DIFERENÇA</h2>
                <hr />
                <!-- -->
                <!-- -->
            </div>
        </div>
        <div class="col-md-12">
            <div class="bg-body-secondary rounded-3 py-4 px-4 mb-2">
                <h2>ANÁLISE DA I.A.</h2>
                <hr />
                <!-- -->
                <!-- -->
            </div>
        </div>
    </div>
    <!-- -->
</div>
<!-- END -->
</div>